<a href="https://colab.research.google.com/github/IvnGenza/Data-Science/blob/main/HW_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import math
import scipy.stats as stats
from sklearn.preprocessing import MinMaxScaler

In [ ]:
path = "/content/drive/MyDrive/myFiles/wine.csv"

df = pd.read_csv(path)

float_cols = df.select_dtypes(include=['float64']).columns # get all float dtype columns
float_means = df[float_cols].mean()   # get mean of every feature
df = df.fillna(float_means) # fill every missing float value

my_cols = df.select_dtypes(include=['int64']).columns # get all int dtype columns
int_means = df[my_cols].mean()   # get mean of every feature
df = df.fillna(int_means.astype(int)) # fill every missing int value

c_size = df.columns.size    # get total number of features
check_arr = np.zeros(c_size) #init empty array


for index, column in enumerate (df.columns):  # getting max-min of every column

  ar = np.array(df[column])
  check_arr[index] = ar.max() - ar.min()


index = check_arr.argsort()[::-1][:3]     # sorting values (from max to low -->[::-1]) and getting array of their origin indexes.(we need only 3)

col_1 = df.iloc[:, index[0]] # get serieses of every feature we want to change
col_2 = df.iloc[:, index[1]]
col_3 = df.iloc[:, index[2]]

df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,1065,0
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,1050,0
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,1185,0
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,1480,0
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,735,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,740,2
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,750,2
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,835,2
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,840,2
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,560,2

***Min Max Normalization for 'col_1' >>proline<<***

In [ ]:
scaler = MinMaxScaler()

col_1 = col_1.values.reshape(-1, 1)   # Creating 2D array (1 coulmn and -1 samples)
df.iloc[:, index[0]] = scaler.fit_transform(scaler.fit_transform(col_1))  # Data normalization --> (min_value = 0 && max_value = 1)

df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,127,2.80,3.06,0.28,2.29,5.64,1.04,3.92,0.561341,0
1,13.20,1.78,2.14,11.2,100,2.65,2.76,0.26,1.28,4.38,1.05,3.40,0.550642,0
2,13.16,2.36,2.67,18.6,101,2.80,3.24,0.30,2.81,5.68,1.03,3.17,0.646933,0
3,14.37,1.95,2.50,16.8,113,3.85,3.49,0.24,2.18,7.80,0.86,3.45,0.857347,0
4,13.24,2.59,2.87,21.0,118,2.80,2.69,0.39,1.82,4.32,1.04,2.93,0.325963,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,95,1.68,0.61,0.52,1.06,7.70,0.64,1.74,0.329529,2
174,13.40,3.91,2.48,23.0,102,1.80,0.75,0.43,1.41,7.30,0.70,1.56,0.336662,2
175,13.27,4.28,2.26,20.0,120,1.59,0.69,0.43,1.35,10.20,0.59,1.56,0.397290,2
176,13.17,2.59,2.37,20.0,120,1.65,0.68,0.53,1.46,9.30,0.60,1.62,0.400856,2
177,14.13,4.10,2.74,24.5,96,2.05,0.76,0.56,1.35,9.20,0.61,1.60,0.201141,2

***Zscore standartization for 'col_2' >>magnesium<<***

In [ ]:
df.iloc[:,index[1]] = stats.zscore(col_2.values.reshape(-1,1))  # Zscore standartization

df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,15.6,1.913905,2.80,3.06,0.28,2.29,5.64,1.04,3.92,0.561341,0
1,13.20,1.78,2.14,11.2,0.018145,2.65,2.76,0.26,1.28,4.38,1.05,3.40,0.550642,0
2,13.16,2.36,2.67,18.6,0.088358,2.80,3.24,0.30,2.81,5.68,1.03,3.17,0.646933,0
3,14.37,1.95,2.50,16.8,0.930918,3.85,3.49,0.24,2.18,7.80,0.86,3.45,0.857347,0
4,13.24,2.59,2.87,21.0,1.281985,2.80,2.69,0.39,1.82,4.32,1.04,2.93,0.325963,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.5,-0.332922,1.68,0.61,0.52,1.06,7.70,0.64,1.74,0.329529,2
174,13.40,3.91,2.48,23.0,0.158572,1.80,0.75,0.43,1.41,7.30,0.70,1.56,0.336662,2
175,13.27,4.28,2.26,20.0,1.422412,1.59,0.69,0.43,1.35,10.20,0.59,1.56,0.397290,2
176,13.17,2.59,2.37,20.0,1.422412,1.65,0.68,0.53,1.46,9.30,0.60,1.62,0.400856,2
177,14.13,4.10,2.74,24.5,-0.262708,2.05,0.76,0.56,1.35,9.20,0.61,1.60,0.201141,2

***Equal depth binning for col_3 >>alcalinity_of_ash<<***

In [ ]:
def eqDepthBin(arr, bins):
  arr = arr.sort_values(ascending=True) # Sort pandas column array
  splits = np.array_split(arr[::-1], bins)[::-1]  # Reverse array for getting a lonngest sub-array in the end, Create the splits also.

  for index, ar in enumerate(splits): # get origin sort of the values.
    splits[index] = ar[::-1]

  return splits

***Smoothing by bin boundaries***

In [ ]:
def boundSmooth(data):

  max = data.max()
  min = data.min()

  for i, val in enumerate(data):
    if val - min <= max-val:
      data.iat[i] = min
    else:
      data.iat[i] = max

In [ ]:
col_3 = col_3.sort_values(ascending=True) #sorting pandas object of some feature
bins = eqDepthBin(col_3, 3) #spliting column to 3 bins

for bin in bins:
  boundSmooth(bin) # smoothing of every bin we got
  col_3.update(bin) # updating object of our column with every bin after smooting

col_3.sort_index(inplace = True) # cancel sorting of our column`s object

df.update(col_3) # updating column in origin DataFrame

In [ ]:
df

,alcohol,malic_acid,ash,alcalinity_of_ash,magnesium,total_phenols,flavanoids,nonflavanoid_phenols,proanthocyanins,color_intensity,hue,od280/od315_of_diluted_wines,proline,target
0,14.23,1.71,2.43,18.0,1.913905,2.80,3.06,0.28,2.29,5.64,1.04,3.92,0.561341,0
1,13.20,1.78,2.14,10.6,0.018145,2.65,2.76,0.26,1.28,4.38,1.05,3.40,0.550642,0
2,13.16,2.36,2.67,18.0,0.088358,2.80,3.24,0.30,2.81,5.68,1.03,3.17,0.646933,0
3,14.37,1.95,2.50,18.0,0.930918,3.85,3.49,0.24,2.18,7.80,0.86,3.45,0.857347,0
4,13.24,2.59,2.87,21.0,1.281985,2.80,2.69,0.39,1.82,4.32,1.04,2.93,0.325963,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
173,13.71,5.65,2.45,20.8,-0.332922,1.68,0.61,0.52,1.06,7.70,0.64,1.74,0.329529,2
174,13.40,3.91,2.48,21.0,0.158572,1.80,0.75,0.43,1.41,7.30,0.70,1.56,0.336662,2
175,13.27,4.28,2.26,20.8,1.422412,1.59,0.69,0.43,1.35,10.20,0.59,1.56,0.397290,2
176,13.17,2.59,2.37,20.8,1.422412,1.65,0.68,0.53,1.46,9.30,0.60,1.62,0.400856,2
177,14.13,4.10,2.74,21.0,-0.262708,2.05,0.76,0.56,1.35,9.20,0.61,1.60,0.201141,2